//  .iconsSetting
// {
//      display: flex;
//      flex-direction: row;
//      //padding-left: 0px;
//      padding-right: 100px;
//      width: 200px;
//      height: 5%;
//      margin-top: 40px;
//      margin-left: 3px;
//      border: 2px;
//      align-items: center;
// }
//  .imageSpace
//  {
//      padding-left: 13px;
   
//  }

.remind{
    margin-bottom: 500px;
}
.icons button{
    margin-left: 14px;
    margin-top: 30px;
    //border-radius: 900px;
    border-color: white;
    background-color: white;
}
