.remind{
    margin-bottom: 500px;
}
.icons button{
    margin-left: 14px;
    margin-top: 30px;
    border-color: white;
    background-color: white;
}
.archive{
    margin-left: 10px;
}
.more{
   margin-right: 10px;
}
