<!-- <div class="iconsSetting" fxFlex="noshrink">
    <img class="imageSpace" src="../../../assets/Note Icons/Remind me.svg">
    <img style="padding-left: 20px;" src="../../../assets/Note Icons/collaborator.svg">
    <img style="padding-left: 30px;" src="../../../assets/Note Icons/background option.svg">
    <img style="padding-left: 30px;" src="../../../assets/Note Icons/add image.svg">
    <img (click)="archive()" style="padding-left: 30px;" src="../../../assets/Note Icons/archive.svg">
    <button mat-button [matMenuTriggerFor]="menu"> <img src="../../../assets/Note Icons/more.svg" width="20px" height="20px" > </button>
    <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="delete()">Delete note</button>
        <button mat-menu-item>Change labels</button>
        <button mat-menu-item>Add drawing</button>
        <button mat-menu-item>Make a copy</button>
        <button mat-menu-item>Show checkboxes</button>
        <button mat-menu-item>Copy to Google Docs</button>
        </mat-menu>  
</div>  -->

<div class="icons" >
    <button mat-icon-button > <img src="../../../assets/Note Icons/Remind me.svg" width="20px" height="20px"></button>
    <button mat-icon-button > <img src="../../../assets/Note Icons/collaborator.svg" width="20px" height="20px"></button>
    <button mat-icon-button > <img src="../../../assets/Note Icons/background option.svg" width="20px" height="20px"></button>
    <button mat-icon-button > <img src="../../../assets/Note Icons/add image.svg" width="20px" height="20px"></button>
    <button mat-icon-button (click)="archive()"> <img src="../../../assets/Note Icons/archive.svg" width="20px" height="20px"></button>
    <button mat-button [matMenuTriggerFor]="menu"><img src="../../../assets/Note Icons/more.svg" width="20px" height="20px"></button>
     <mat-menu #menu="matMenu">
     <button mat-menu-item (click)="delete()">Delete note</button>
     <button mat-menu-item>Change labels</button>
     <button mat-menu-item>Add drawing</button>
     <button mat-menu-item>Make a copy</button>
     <button mat-menu-item>Show checkboxes</button>
     <button mat-menu-item>Copy to Google Docs</button>
     </mat-menu>
</div>