<div class="icons" >
    <div *ngIf="!isTrashComponent" fxLayout="row" style="width: 250px;">
        <button  mat-icon-button matTooltip="Remind me"> 
                <img src="../../../assets/Note Icons/Remind me.svg" width="20px" height="20px"></button>
        <button  mat-icon-button matTooltip="Collaborator"> 
                <img src="../../../assets/Note Icons/collaborator.svg" width="20px" height="20px"></button>
        <button mat-icon-button matTooltip="Background color" [matMenuTriggerFor]="color" > 
                <img src="../../../assets/Note Icons/background option.svg"  width="20px" height="20px"></button>
                <mat-menu #color="matMenu">
                        <div fxLayout="row wrap" style="padding-left: 8px;">
                                <div style="display: flex;flex-flow: row wrap; width: 120px;">
                                        <div *ngFor="let color of colorsArr" class="pallete">
                                            <button class="colorboxSetting" mat-icon-button matTooltip="color.name" [style.background]="color?.Colorcode" (click)="changeColor(color?.Colorcode)"></button>
                                        </div>
                                </div>
                        </div>
                </mat-menu>
        <button mat-icon-button matTooltip="add image"> 
                <img src="../../../assets/Note Icons/add image.svg" width="20px" height="20px"></button>
        <div *ngIf="isDisplaynoteComponent">
            <button class="archive" mat-icon-button matTooltip="Archive" (click)="archive()"> 
                    <img src="../../../assets/Note Icons/archive.svg" width="20px" height="20px"></button>
        </div>
        <div *ngIf="isArchiveComponent">
            <button mat-icon-button matTooltip="Unarchive" (click)="archive();" *ngIf="isArchiveComponent">
                <img src="../../../assets/Note Icons/unarchive.svg" width="20px" height="20px"></button>
        </div>
        <button class="more" mat-icon-button matTooltip="More" [matMenuTriggerFor]="menu">
                <img src="../../../assets/Note Icons/more.svg" width="20px" height="20px"></button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="trash(notedata)">Delete note</button>
            <button mat-menu-item>Change labels</button>
            <button mat-menu-item>Add drawing</button>
            <button mat-menu-item>Make a copy</button>
            <button mat-menu-item>Show checkboxes</button>
            <button mat-menu-item>Copy to google Docs</button>
        </mat-menu>

    </div>
    <div *ngIf="isTrashComponent">
        <button mat-icon-button matTooltip="Delete Forever" (click)="delete()"> 
                <img src="../../../assets/Note Icons/delete forever.svg" width="20px" height="20px"></button>
        <button mat-icon-button matTooltip="Restore" (click)="trash(notedata)"> 
                <img src="../../../assets/Note Icons/Restore from trash.svg" width="20px" height="20px"></button>
    </div>
</div>