.title{
    min-height: 10px;
    padding: 10px 15px;
    padding-top: 0px;
    padding-right: 15px;
    padding-bottom: 30px;
    padding-left: 15px;
    
}

.takenote{
    min-height: 27px;
    padding: 10px 15px;
    padding-top: 0px;
    padding-right: 15px;
    padding-bottom: 0px;
    padding-left: 15px;
}

.noteSetting{
    border: 1px solid ;
    border-color:white;
    box-shadow: 1px 1px 3px 3px rgba(157, 167, 170, 0.215);
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: white;
    //min-height: 27px;
    }

    .icons{
        padding-left: 150px;
        
    }

    .icons button{
        border: none;
        background-color: white;
    }

    input {border:0;outline:0;}