<div class="noteSetting">
    <div *ngIf="isShow">
        <input class="title" placeholder="Title" [(ngModel)]="title">
        <img class="pin" src="../../../assets/Note Icons/pin note.svg">
    </div>
    <div fxLayout="row" *ngIf="!isShow || isShow" (click)="Show()">
        <div *ngIf="!isShow || isShow">
            <input class="takenote" placeholder="Take a note..." [(ngModel)]="description">
        </div>
        <div *ngIf="!isShow" class="icons">
            <button mat-icon-button matTooltip="New list"> <img src="../../../assets/Note Icons/check_box.svg"></button>
            <button mat-icon-button matTooltip=" New note with drawing"> <img
                    src="../../../assets/Note Icons/brush.svg"></button>
            <button mat-icon-button matTooltip=" New note with image"> <img
                    src="../../../assets/Note Icons/add image.svg"></button>
        </div>
    </div>
    <div *ngIf="isShow" class="close" fxLayout="row" fxLayoutAlign="space-between centre">
        <app-icons></app-icons>
        <button mat-button (click)="close()">Close</button>
    </div>
</div>