 .noteDisplaySetting
 {
     border: 1px solid grey;
     margin-left: 70px;
     border-color: #e0e0e0;
     margin-top: 50px;
     padding-top: 10px;
     background-color: white;
     margin: 15px; 
     width: 295px;
     height: 150px;
     border-radius: 12px;
 }

   .allicons{
     display: none;
 }

 .noteDisplaySetting:hover .allicons{
     display: block; 
 }

 .noteDisplaySetting:hover{
    box-shadow: 1px 1px 3px 3px rgba(157, 167, 170, 0.215);
 }

 .icons{
    margin-left: -8px;
    padding-top:5px;
 }

  .title{
   margin-left: 18px;
   margin-top: 10px;
   font-size: medium;
   font-weight: 400;
  }

  .description{
     margin-left: 18px;
     font-size: medium;
  }

  .gridToList
{
    width: 50%;
    height: 150px;
    margin-left: 255px;
}

