<div fxLayout="row wrap">
    <div class="noteDisplaySetting" [style.background]="note.bgColour" [class.gridToList]="gridlist"  *ngFor="let note of receivedNoteList | filter : searchString" fxLayout="column" >
        <p class="title" (click)="openDialog(note)" >{{note.title}}</p>
        <p class="description"(click)="openDialog(note)">{{note.description}}</p>
        <div class="icons">
            <app-icons class="allicons" [notedata]="note" (UpdateNoteEvent)="DisplayNoteMessage($event)" (UpdateNoteEvent)="UpdateNoteMessage($event)" ></app-icons>
        </div> 
    </div> 
</div>

