// .noteDisplaySetting
// {
//     flex-direction: row;
//     width: 800px;
//      height: 150px;
// }

// .closeButton
// {
//     margin-right: 400px;
//     border: 0px;
//     height: 30px;
//     background-color: transparent;
//     padding-top: 75px;
//     padding-left: 200px;
//     font-size: large;
// }
// input {border:0;outline:0;}
// input {border:0;outline:0;}

.note{
    padding: 30px;
  }
.button{
  margin-left: 50px;
  border-color: white;
  margin-left: 330px;
}
input {border:0;outline:0;}
input {border:0;outline:0;}


